@media all {

    .ArticleMainpage {width: 65%;}
    .AsideHomepage {width: 25%;}
    .articleHomepage {background-color: whitesmoke;border : none lightblue 4px;margin: 3%;padding: 1%;overflow: hidden;} 
    aside { background-color: whitesmoke;margin-top: 7%;margin-bottom: 7%; border: solid 8px slategrey;padding: 1%;}
  
  }
  @media all and (max-width: 1300px) {
  
    .ArticleMainpage {width: 65%;}
    .AsideHomepage {width: 25%;}
    .articleHomepage {background-color: whitesmoke;border : none lightblue 6px;margin: 3%;padding: 1%;overflow: hidden;} 
    aside { background-color: whitesmoke;margin-top: 15%;margin-bottom: 15%; border: solid 8px lightslategrey;padding: 1%;}
  
  
  }
  @media all and (max-width: 800px) {
  
    .ArticleMainpage {width: 100%; height: 30%; }
    .AsideHomepage {width: 100%; height: 30%;}
    .articleHomepage {background-color: whitesmoke;border : none lightblue 8px;margin: 3%;padding: 1%;overflow: hidden;} 
  aside { background-color: whitesmoke;border: inset 8px lightblue;padding: 1%;}
  }


img{
    width: 100%;
}

td,th {
    border: 1px solid rgba(0, 0, 255, .2);
    padding: 10px;
}

td {
    text-align: center;
    table-layout: auto;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table{
    table-layout: auto;
    width: 99%;
}

fieldset{
    text-align: center; 
    width: 50em;
    max-height: 68%;
    background-color: #fff5f2;
    display: flex;
    justify-content: space-evenly;
    flex-direction : column;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


legend {
    background-color: #bf6657;
    padding: 3px 6px;
    font: italic 1.5em "Fira Sans", serif;
}

.form_depense{
    padding: 2%;
    text-align: center;

}

.list_depense a{
    
    background-color: rgba(127, 59, 34, 0.745);
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    margin: auto;
    padding: 3px 6px;
    font: italic 1.5em "Fira Sans", serif;
}

body{
    background: #fce5dc;
    background: -moz-radial-gradient(top,   #ffccb8 100%, #ffded1 50%, #fce5dc 0%);
    background: -webkit-radial-gradient(top,  #ffccb8 100%, #ffded1 50%, #fce5dc 0%);
    background: linear-gradient(to bottom,  #ffccb8 100%, #ffded1 50%, #fce5dc 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce5dc', endColorstr='#ffccb8',GradientType=1 );
}
